<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="disableCompleteWithJdbcType" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="theUsageCount" value="1671344442164" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>